.menubar{
    height: 50px;
    width: max-content;
    background-color: blue;
    display: flex;
    line-height: 50px;
    position: relative;
}
.option{
    color:white;
    width: 150px;
    text-align:center ;
    border-right:0.1px solid #facfcf ;
}
.option:hover{
    background-color: red;
    color:white;
    transition: 0.4s;
    cursor: pointer;
}
.option > .more{
    display: none;
    position: absolute;
}
.option:hover .more{
    display: flex;
    width: max-content;
    background-color: red;
}
.option-more{
    padding-left: 20px;
    padding-right: 20px;
    border-right:0.1px solid #facfcf;
    border-top: 0.1px solid #facfcf;
}
.option-more:hover{
    display: flex;
    width: max-content;
    background-color: blue;
}